/*
 * Copyright 2008-2017, Haiku. All rights reserved.
 * Distributed under the terms of the MIT License.
 *
 * Authors:
 *		François Revol <revol@free.fr>
 *		Stephan Aßmus <superstippi@gmx.de>
 *		Braden Ewing <brewin@gmail.com>
 *		Humdinger <humdingerb@gmail.com>
 *		Vincent Duvert <vincent.duvert@free.fr>
 *		Augustin Cavalier <waddlesplash>
 */

html {
	margin: 0;
	padding: 0;
	background: #FFF;
}
body {
	font-size: 0.9em;
	font-family: "Noto Sans",Arial,Helvetica,sans-serif;
	line-height: 1.5;
	min-width: 45em;
	max-width: 70em;
}
/* link colors and text decoration */

a:link {
	font-weight: bold;
	text-decoration: none;
	color: #dc3c01;
}
a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #892601;
}
a:hover, a:active {
	text-decoration: underline;
	color: #ff4500;
}

/* Some headers act as anchors, don't give them a hover effect */

h1, h2, h3, h4, h5 {
	a:hover, a:active {
		text-decoration: none;
		color: #000;
	}
}

/* Index table */

table.index {
	margin: 6px 6px 6px 30px;
	padding: 1px;
	border-width: 1px;
	border-style: dotted;
	border-color: #e0e0e0;
	float: right;
	position: relative;
}
table.index tr.heading {
	background-color: #e0e0e0;
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;
}
table.index tr.index {
	background-color: #eeeeee;
}
table.index td {
	padding: 5px 20px;
}

table.index a:link, table.index a:visited {
	font-weight: normal;
	text-decoration: none;
	color: #dc3c01;
}
table.index a:hover, table.index a:active {
	text-decoration: underline;
	color: #ff4500;
}

/* heading and navigation */

#navbar {
	overflow: hidden;
	background-color: #555;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

#navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 0px 14px;
	text-decoration: none;
	font-size: 12px;
}

#navbar a:hover {
	background-color: #ddd;
	color: black;
}

#navbar a.active {
	background-color: #D1A600;
	color: white;
}

#content {
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 5px;
}


hr {
	margin-top: 45px;
	border: dotted thin #e0e0e0;
}
h1 {
	font-size: 1.6em;
	border-bottom: dotted thin #e0e0e0;
	margin: 45px;
	text-align: center;
}
h2 {
	font-size: 1.5em;
	border-bottom: dotted thin #e0e0e0;
	margin-top: 40px;
}
h3 {
	font-size: 1.2em;
	border-bottom: none;
	margin-top: 30px;
	margin-bottom: 0px;
}
h4 {
	font-size: 1.1em;
	border-bottom: none;
	margin-top: 30px;
	margin-bottom: 0px;
}
.key {				/* Shortcut (separate with &#160; */
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-color: #c7c7c7;
	border-style: solid;
	border-width: 1px;
	padding: 0px 2px;
	background-color: #e8e8e8;
	font-family: sans;
	font-variant: small-caps;
	font-size: 1em;
}
.menu {				/* Menu */
	font-size: 1.0em;
	font-family: serif;
	font-style: italic;
	color: #24225e;
}
.button {			/* Button */
	font-size: 1.0em;
	font-family: serif;
	font-style: italic;
	color: #33583c;
}
.path {				/* File path */
	background-color: #e8e8e8;
	font-size: 0.9em;
	font-family: monospace;
}
.cli {				/* Shell command or file */
	background-color: #e8e8e8;
	font-size: 0.9em;
	font-family: monospace;
}

pre.terminal {			/* Terminal output*/
	border-color: #ffb11f;
	border-style: dotted;
	border-width: thin;
	margin: 0em;
	padding: 1.5em;
	background-color: #3a3a3a;
	color: #ffb11f;
}

tt {
	background-color: #e8e8e8;
}

td.onelinetop {
	padding-right: 1em;
	vertical-align: top;
	white-space: nowrap;
}

ol {
	padding-left: 20px;
}

ul {
	padding-left: 14px;
}

/* Rounded corner boxes */
/* Common declarations */
.box-info {
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-style: dotted;
	border-width: thin;
	border-color: 8f7200;
	padding: 10px 15px 10px 80px;
	margin: 15px 56px 15px 56px;
	min-height: 42px;
	background: #ffe992 url(./images/icons/info-box_32.png) 15px 15px no-repeat;
}

/* Images floating to the left of text */
.floatleft {
	border:none;
	padding:0 1em 2em 0;
	float:left
}

.icons {
	border:none;
	padding:0 2em 0 0.5em;
	float:right
}
